$text-color-text-gray-dark: #525C7A;
$text-color-text-gray-light: #A2ACC7;
$text-color-text-black: #292E3D;
$text-color-text-emerald: #4FBA67;
$bg-color: #F5F5F5;
$bg-arrow-disabled: #C9D0E1;
$bg-arrow: #7884A5;